In [1]:
import pandas as pd

## IMDB Movies

In [2]:
database = pd.read_csv("IMDb_movies.csv", sep = ",")
database["date_published"] = pd.to_datetime(database["date_published"])
database.head(15)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0
5,tt0002423,Madame DuBarry,Madame DuBarry,1919,1919-11-26,"Biography, Drama, Romance",85,Germany,German,Ernst Lubitsch,...,"Pola Negri, Emil Jannings, Harry Liedtke, Edua...","The story of Madame DuBarry, the mistress of L...",6.8,709,NaN,NaN,NaN,NaN,11.0,9.0
6,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",120,Italy,Italian,Enrico Guazzoni,...,"Amleto Novelli, Gustavo Serena, Carlo Cattaneo...","An epic Italian film ""Quo Vadis"" influenced ma...",6.2,241,ITL 45000,NaN,NaN,NaN,6.0,4.0
7,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,NaN,Aristide Demetriade,...,"Aristide Demetriade, Constanta Demetriade, Con...",The movie depicts the Romanian War of Independ...,6.7,187,ROL 400000,NaN,NaN,NaN,3.0,1.0
8,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,55,"France, USA",English,"André Calmettes, James Keane",...,"Robert Gemp, Frederick Warde, Albert Gardner, ...",Richard of Gloucester uses manipulation and mu...,5.5,211,$ 30000,NaN,NaN,NaN,7.0,1.0
9,tt0002646,Atlantis,Atlantis,1913,1913-12-26,Drama,121,Denmark,Danish,August Blom,...,"Olaf Fønss, Ida Orloff, Ebba Thomsen, Carl Lau...",After Dr. Friedrich's wife becomes mentally un...,6.7,310,NaN,NaN,NaN,NaN,9.0,9.0
10,tt0002844,Fantômas - À l'ombre de la guillotine,Fantômas - À l'ombre de la guillotine,1913,1913-05-12,"Crime, Drama",54,France,French,Louis Feuillade,...,"René Navarre, Edmund Breon, Georges Melchior, ...",Inspector Juve is tasked to investigate and ca...,7.0,1853,NaN,NaN,NaN,NaN,9.0,29.0
11,tt0003014,Ingeborg Holm,Ingeborg Holm,1913,1913-10-27,Drama,96,Sweden,NaN,Victor Sjöström,...,"Hilda Borgström, Aron Lindgren, Erik Lindholm,...",Single mother is separated from her children d...,7.1,888,NaN,NaN,NaN,NaN,16.0,7.0
12,tt0003037,Juve contre Fantômas,Juve contre Fantômas,1913,1913-09-08,"Crime, Drama",61,France,French,Louis Feuillade,...,"René Navarre, Edmund Breon, Georges Melchior, ...",In Part Two of Louis Feuillade's 5 1/2-hour ep...,7.0,1295,NaN,NaN,NaN,NaN,8.0,22.0
13,tt0003131,Maudite soit la guerre,Maudite soit la guerre,1914,1914-05-01,"Drama, War",50,Belgium,French,Alfred Machin,...,"Baert, Suzanne Berni, Fernand Crommelynck, Nad...",An army pilot is on a visit at the home of ano...,6.7,112,NaN,NaN,NaN,NaN,2.0,2.0
14,tt0003165,Le mort qui tue,Le mort qui tue,1913,1913-11-06,"Crime, Drama, Mystery",90,France,French,Louis Feuillade,...,"René Navarre, Edmund Breon, Georges Melchior, ...",After a body disappears from inside the prison...,7.0,1000,NaN,NaN,NaN,NaN,6.0,17.0

### Informações das colunas

In [3]:
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 22 columns):
imdb_title_id            81273 non-null object
title                    81273 non-null object
original_title           81273 non-null object
year                     81273 non-null int64
date_published           81273 non-null datetime64[ns]
genre                    81273 non-null object
duration                 81273 non-null int64
country                  81234 non-null object
language                 80518 non-null object
director                 81200 non-null object
writer                   79780 non-null object
production_company       76948 non-null object
actors                   81207 non-null object
description              78843 non-null object
avg_vote                 81273 non-null float64
votes                    81273 non-null int64
budget                   22804 non-null object
usa_gross_income         15094 non-null object
worlwide_gross_income    29892 non-null object
metascore                12722 non-null float64
reviews_from_users       74196 non-null float64
reviews_from_critics     70286 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(14)
memory usage: 9.3+ MB

In [4]:
list(database.columns)

['imdb_title_id',
 'title',
 'original_title',
 'year',
 'date_published',
 'genre',
 'duration',
 'country',
 'language',
 'director',
 'writer',
 'production_company',
 'actors',
 'description',
 'avg_vote',
 'votes',
 'budget',
 'usa_gross_income',
 'worlwide_gross_income',
 'metascore',
 'reviews_from_users',
 'reviews_from_critics']

### Limpando a base de dados
- reviews_from_users 
- reviews_from_critics

Queremos excluir da base de dados a parte que não possui nota dos críticos nem dos expectadores e algumas colunas que não farão parte do escopo do projeto.

In [5]:
df1 = database[(database["reviews_from_critics"].notnull()) & (database["reviews_from_users"].notnull())]
df1.reset_index(drop = True, inplace = True)  ## resetando o indice das linhas
df1.drop(columns = ["usa_gross_income", "duration", "writer"], axis = "columns", inplace = True) ## excluindo colunas
df1

C:\Users\tamara\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,imdb_title_id,title,original_title,year,date_published,genre,country,language,director,production_company,actors,description,avg_vote,votes,budget,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",Australia,NaN,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,"Germany, Denmark",NaN,Urban Gad,Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",USA,English,Charles L. Gaskill,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",USA,English,Sidney Olcott,Kalem Company,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66498,tt9880982,Dulce Familia,Dulce Familia,2019,2019-05-10,Comedy,"Mexico, Chile",Spanish,Nicolás López,Bh5,"Paz Bascuñán, Regina Blandón, Fernanda Castill...","Five women history of different generations, t...",4.6,171,NaN,$ 5725043,NaN,2.0,1.0
66499,tt9894098,Sathru,Sathru,2019,2019-03-07,Thriller,India,NaN,Naveen Nanjundan,Milestone Movies,"Srushti Dange, Kathir, Laguparan, Marimuthu, N...",A kidnapping gone wrong leads to mounting tens...,6.1,163,NaN,$ 8683,NaN,7.0,1.0
66500,tt9894394,Upin & Ipin: Keris Siamang Tunggal,Upin & Ipin: Keris Siamang Tunggal,2019,2019-03-21,Animation,Malaysia,Malay,"Adam Bin Amiruddin, Syed Nurfaiz Khalid bin Sy...",Les' Copaque Production,"Asyiela Putri Bt Azhar, Mohd Amir Asyraf Bin M...","Upin, Ipin and their friends come across a mys...",8.0,367,MYR 20000000,$ 83857,NaN,59.0,1.0
66501,tt9896916,The Pilgrim's Progress,The Pilgrim's Progress,2019,2019-04-18,"Animation, Adventure, Family",USA,English,Robert Fernandez,Cat In The Mill Studio,"David Thorpe, John Rhys-Davies, Kristyn Getty,...","An epic journey, faithfully adapted to modern-...",5.0,260,NaN,$ 3173282,NaN,20.0,3.0
66502,tt9900782,Kaithi,Kaithi,2019,2019-10-25,"Action, Thriller",India,Tamil,Lokesh Kanagaraj,Dream Warrior Pictures,"Karthi, Narain, Dheena, George Maryan, Ramana,...","A drug bust, an injured cop and a convicted cr...",8.9,3082,$ 6000000,$ 420126,NaN,98.0,6.0

In [6]:
database2 = database[(database["reviews_from_critics"].isnull()) | (database["reviews_from_users"].isnull())]
A = database.shape[0]
B = database2.shape[0]
print("O número de linhas inicial é:",  database.shape[0])
print("O número de linhas retiradas é:",  database2.shape[0])
print("O número de linhas restante é:",  A - B)

O número de linhas inicial é: 81273
O número de linhas retiradas é: 14770
O número de linhas restante é: 66503

In [7]:
df1.shape

(66503, 19)

## IMDB Ratings

In [8]:
df2 = pd.read_csv("IMDb_ratings.csv", sep = ",")
df2.drop(["total_votes", "votes_10", "votes_9", "votes_8",
                "votes_7", "votes_6","votes_5", "votes_4", "votes_3",
                "votes_2", "votes_1", "us_voters_votes", "us_voters_rating",
                "non_us_voters_rating", "non_us_voters_votes"], axis = "columns", inplace = True)

# total_votes já está no IMDb Movies

df2

,imdb_title_id,weighted_average_vote,mean_vote,median_vote,allgenders_0age_avg_vote,allgenders_0age_votes,allgenders_18age_avg_vote,allgenders_18age_votes,allgenders_30age_avg_vote,allgenders_30age_votes,...,females_0age_avg_vote,females_0age_votes,females_18age_avg_vote,females_18age_votes,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes
0,tt0000574,6.1,6.3,6.0,6.0,1.0,6.2,126.0,5.9,209.0,...,NaN,NaN,5.7,14.0,6.0,19.0,6.6,14.0,6.3,64.0
1,tt0001892,5.9,6.1,6.0,NaN,NaN,5.7,25.0,6.0,60.0,...,NaN,NaN,5.8,4.0,5.8,4.0,6.5,8.0,5.9,29.0
2,tt0002101,5.2,5.2,5.0,NaN,NaN,4.6,24.0,5.1,104.0,...,NaN,NaN,4.5,4.0,5.5,14.0,6.2,20.0,4.9,57.0
3,tt0002130,7.0,6.9,7.0,7.0,2.0,7.0,429.0,7.0,783.0,...,6.0,1.0,6.8,53.0,7.3,74.0,7.4,75.0,7.0,126.0
4,tt0002199,5.7,5.8,6.0,NaN,NaN,5.7,38.0,5.6,156.0,...,NaN,NaN,5.0,4.0,4.8,10.0,6.5,15.0,5.7,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81268,tt9903716,7.2,8.1,9.0,NaN,NaN,7.0,43.0,7.0,34.0,...,NaN,NaN,7.0,3.0,5.6,6.0,6.7,3.0,2.0,4.0
81269,tt9905412,7.8,7.8,9.0,NaN,NaN,1.0,2.0,5.5,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
81270,tt9905462,8.4,8.1,9.0,NaN,NaN,5.5,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
81271,tt9911774,8.4,8.2,9.0,NaN,NaN,1.0,1.0,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
81272,tt9914286,7.2,9.5,10.0,NaN,NaN,8.2,4.0,5.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0

### Juntando as duas base de dados com merge

In [9]:
left = df1
right = df2
df = left.merge(right, on='imdb_title_id')
df.head(15)

,imdb_title_id,title,original_title,year,date_published,genre,country,language,director,production_company,...,females_0age_avg_vote,females_0age_votes,females_18age_avg_vote,females_18age_votes,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",Australia,NaN,Charles Tait,J. and N. Tait,...,NaN,NaN,5.7,14.0,6.0,19.0,6.6,14.0,6.3,64.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,"Germany, Denmark",NaN,Urban Gad,Fotorama,...,NaN,NaN,5.8,4.0,5.8,4.0,6.5,8.0,5.9,29.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",USA,English,Charles L. Gaskill,Helen Gardner Picture Players,...,NaN,NaN,4.5,4.0,5.5,14.0,6.2,20.0,4.9,57.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Milano Film,...,6.0,1.0,6.8,53.0,7.3,74.0,7.4,75.0,7.0,126.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",USA,English,Sidney Olcott,Kalem Company,...,NaN,NaN,5.0,4.0,4.8,10.0,6.5,15.0,5.7,56.0
5,tt0002423,Madame DuBarry,Madame DuBarry,1919,1919-11-26,"Biography, Drama, Romance",Germany,German,Ernst Lubitsch,Projektions-AG Union (PAGU),...,NaN,NaN,6.3,15.0,7.2,40.0,8.1,35.0,6.3,91.0
6,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",Italy,Italian,Enrico Guazzoni,Società Italiana Cines,...,NaN,NaN,5.5,6.0,6.2,9.0,6.2,5.0,5.6,42.0
7,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",Romania,NaN,Aristide Demetriade,Societatea Filmului de Arta Leon Popescu,...,NaN,NaN,5.8,5.0,7.0,9.0,6.8,6.0,5.3,25.0
8,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,"France, USA",English,"André Calmettes, James Keane",Le Film d'Art,...,NaN,NaN,1.0,1.0,7.2,8.0,9.7,6.0,5.3,35.0
9,tt0002646,Atlantis,Atlantis,1913,1913-12-26,Drama,Denmark,Danish,August Blom,Nordisk Film,...,NaN,NaN,4.5,6.0,6.6,13.0,8.1,14.0,6.3,35.0
10,tt0002844,Fantômas - À l'ombre de la guillotine,Fantômas - À l'ombre de la guillotine,1913,1913-05-12,"Crime, Drama",France,French,Louis Feuillade,Société des Etablissements L. Gaumont,...,NaN,NaN,7.1,37.0,7.4,97.0,7.9,95.0,6.7,109.0
11,tt0003014,Ingeborg Holm,Ingeborg Holm,1913,1913-10-27,Drama,Sweden,NaN,Victor Sjöström,Svenska Biografteatern AB,...,NaN,NaN,6.8,21.0,7.4,41.0,8.0,38.0,6.9,81.0
12,tt0003037,Juve contre Fantômas,Juve contre Fantômas,1913,1913-09-08,"Crime, Drama",France,French,Louis Feuillade,Société des Etablissements L. Gaumont,...,NaN,NaN,6.7,24.0,7.0,54.0,7.8,80.0,6.7,99.0
13,tt0003131,Maudite soit la guerre,Maudite soit la guerre,1914,1914-05-01,"Drama, War",Belgium,French,Alfred Machin,Belge Cinéma Film,...,NaN,NaN,6.2,4.0,6.8,4.0,6.7,3.0,6.8,23.0
14,tt0003165,Le mort qui tue,Le mort qui tue,1913,1913-11-06,"Crime, Drama, Mystery",France,French,Louis Feuillade,Société des Etablissements L. Gaumont,...,NaN,NaN,6.5,18.0,7.4,42.0,8.3,59.0,6.6,89.0

In [40]:
df.shape

(66503, 52)

### Exportando pro Excel

In [11]:
df.to_csv("base_de_dados.csv", sep = ";", index = False) ## não salva o indice